<header class="header" id="header" data-flag="menu">
  <a class="header__logo" href="{{ site.baseurl }}/">
    {% include svg/typo.html width="102" height="18" %}
  </a>

  <button class="btn btn--sm btn--uppercased / slide-panel__toggle" data-menu="toggle">menu</button>

  <nav class="slide-panel slide-panel--right / header__nav" data-menu="nav">
    <a href="{{ site.baseurl }}/">Home</a>
    <a href="{{ '/documentation/trowel-core/use-a-component' | prepend: site.baseurl }}">Getting Started</a>
    <a href="{{ '/documentation' | prepend: site.baseurl }}">Documentation</a>
    <!-- <a href="{{ '/blog' | prepend: site.baseurl }}">Blog</a> -->
  </nav>

  <button class="backdrop" data-menu="backdrop"></button>
</header>