<sidebar class="doc-sidebar" data-flag="menu">
  <button class="doc-sidebar__toggle / slide-panel__toggle" data-menu="toggle">
    {% include svg/hamb.html width="26" height="48" %}
  </button>

  <nav class="slide-panel slide-panel--left / doc-sidebar__menu" data-menu="nav">
    <ul>
      <li>
        <a href="#">Trowel core</a>

        <ul>
          <li>
            <a href="#">Use a trowel component</a>

            <ul>
              <li>
                <a href="#">Install a trowel component</a>
              </li>

              <li>
                <a href="#">Set your global configuration</a>
              </li>

              <li>
                <a href="#">Customize a trowel component</a>
              </li>
            </ul>
          </li>

          <li>
            <a href="#">Create a trowel component</a>

            <ul>
              <li>
                <a href="#">Create a selector object</a>
              </li>

              <li>
                <a href="#">Write statements</a>
              </li>

              <li>
                <a href="#">Define a trowel mixin</a>
              </li>

              <li>
                <a href="#">Use the component generator</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">Friends of Trowel</a>

        <ul>
          <li>
            <a href="#">Layouts</a>
          </li>

          <li>
            <a href="#">Buttons</a>
          </li>

          <li>
            <a href="#">Forms</a>
          </li>

          <li>
            <a href="#">List-groups</a>
          </li>

          <li>
            <a href="#">Breadcrumbs</a>
          </li>

          <li>
            <a href="#">Alerts</a>
          </li>

          <li>
            <a href="#">Progress</a>
          </li>

          <li>
            <a href="#">Cards</a>
          </li>

          <li>
            <a href="#">Covers</a>
          </li>

          <li>
            <a href="#">Ribbons</a>
          </li>

          <li>
            <a href="#">Badges</a>
          </li>

          <li>
            <a href="#">Drops</a>
          </li>

          <li>
            <a href="#">Collapses</a>
          </li>

          <li>
            <a href="#">Modals</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <button class="backdrop" data-menu="backdrop"></button>
</sidebar>

