<sidebar class="doc-sidebar" data-flag="menu">
  <button class="doc-sidebar__toggle / slide-panel__toggle" data-menu="toggle">
    {% include svg/hamb.html width="26" height="48" %}
  </button>

  <nav class="slide-panel slide-panel--left / doc-sidebar__menu" data-menu="nav">
    <ul>
      <li>
        <a
          href="/documentation/trowel-core/getting-started/"
          {% if page.url == "/documentation/trowel-core/getting-started/" %}class="active"{% endif %}
        >
          Trowel core
        </a>

        <ul>
          <li>
            <a
              href="/documentation/trowel-core/use-a-component/"
              {% if page.url == "/documentation/trowel-core/use-a-component/" %}class="active"{% endif %}
            >
              Use a trowel component
            </a>

            <ul>
              <li>
                <a
                  href="/documentation/trowel-core/use-a-component/install//"
                  {% if page.url == "/documentation/trowel-core/use-a-component/install/" %}class="active"{% endif %}
                >
                  Install a trowel component
                </a>
              </li>

              <li>
                <a
                  href="/documentation/trowel-core/use-a-component/config/"
                  {% if page.url == "/documentation/trowel-core/use-a-component/config/" %}class="active"{% endif %}
                >
                  Set your global configuration
                </a>
              </li>

              <li>
                <a
                  href="/documentation/trowel-core/use-a-component/customize/"
                  {% if page.url == "/documentation/trowel-core/use-a-component/customize/" %}class="active"{% endif %}
                >
                  Customize a trowel component
                </a>
              </li>
            </ul>
          </li>

          <li>
            <a
              href="/documentation/trowel-core/create-a-component/"
              {% if page.url == "/documentation/trowel-core/create-a-component/" %}class="active"{% endif %}
            >
              Create a trowel component
            </a>

            <ul>
              <li>
                <a
                  href="/documentation/trowel-core/create-a-component/selector-object/"
                  {% if page.url == "/documentation/trowel-core/create-a-component/selector-object/" %}class="active"{% endif %}
                >
                  Create a selector object
                </a>
              </li>

              <li>
                <a
                  href="/documentation/trowel-core/create-a-component/statements/"
                  {% if page.url == "/documentation/trowel-core/create-a-component/statements/" %}class="active"{% endif %}
                >
                  Write statements
                </a>
              </li>

              <li>
                <a
                  href="/documentation/trowel-core/create-a-component/mixins/"
                  {% if page.url == "/documentation/trowel-core/create-a-component/mixins/" %}class="active"{% endif %}
                >
                  Define a trowel mixin
                </a>
              </li>

              <li>
                <a
                  href="/documentation/trowel-core/create-a-component/generator/"
                  {% if page.url == "/documentation/trowel-core/create-a-component/generator/" %}class="active"{% endif %}
                >
                  Use the component generator
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li>
        <a
          href="/documentation/friends-of-trowel/"
          {% if page.url == "/documentation/friends-of-trowel/" %}class="active"{% endif %}
        >
          Friends of Trowel
        </a>

        <ul>
          <li>
            <a
              href="/documentation/friends-of-trowel/layouts/"
              {% if page.url == "/documentation/friends-of-trowel/layouts/" %}class="active"{% endif %}
            >
              Layouts
            </a>
          </li>

          <li>
            <a
              href="/documentation/friends-of-trowel/buttons/"
              {% if page.url == "/documentation/friends-of-trowel/buttons/" %}class="active"{% endif %}
            >
              Buttons
            </a>
          </li>

          <li>
            <a
              href="/documentation/friends-of-trowel/forms/"
              {% if page.url == "/documentation/friends-of-trowel/forms/" %}class="active"{% endif %}
            >
              Forms
            </a>
          </li>

          <li>
            <a
              href="/documentation/friends-of-trowel/list-groups//"
              {% if page.url == "/documentation/friends-of-trowel/list-groups//" %}class="active"{% endif %}
            >
              List-groups
            </a>
          </li>

          <li>
            <a
              href="/documentation/friends-of-trowel/breadcrumbs/"
              {% if page.url == "/documentation/friends-of-trowel/breadcrumbs/" %}class="active"{% endif %}
            >
              Breadcrumbs
            </a>
          </li>

          <li>
            <a
              href="/documentation/friends-of-trowel/alerts/"
              {% if page.url == "/documentation/friends-of-trowel/alerts/" %}class="active"{% endif %}
            >
              Alerts
            </a>
          </li>

          <li>
            <a
              href="/documentation/friends-of-trowel/progress/"
              {% if page.url == "/documentation/friends-of-trowel/progress/" %}class="active"{% endif %}
            >
              Progress
            </a>
          </li>

          <li>
            <a
              href="/documentation/friends-of-trowel/cards/"
              {% if page.url == "/documentation/friends-of-trowel/cards/" %}class="active"{% endif %}
            >
              Cards
            </a>
          </li>

          <li>
            <a
              href="/documentation/friends-of-trowel/covers/"
              {% if page.url == "/documentation/friends-of-trowel/covers/" %}class="active"{% endif %}
            >
              Covers
            </a>
          </li>

          <li>
            <a
              href="/documentation/friends-of-trowel/ribbons/"
              {% if page.url == "/documentation/friends-of-trowel/ribbons/" %}class="active"{% endif %}
            >
              Ribbons
            </a>
          </li>

          <li>
            <a
              href="/documentation/friends-of-trowel/badges/"
              {% if page.url == "/documentation/friends-of-trowel/badges/" %}class="active"{% endif %}
            >
              Badges
            </a>
          </li>

          <li>
            <a
              href="/documentation/friends-of-trowel/drops/"
              {% if page.url == "/documentation/friends-of-trowel/drops/" %}class="active"{% endif %}
            >
              Drops
            </a>
          </li>

          <li>
            <a
              href="/documentation/friends-of-trowel/collapses/"
              {% if page.url == "/documentation/friends-of-trowel/collapses/" %}class="active"{% endif %}
            >
              Collapses
            </a>
          </li>

          <li>
            <a
              href="/documentation/friends-of-trowel/modals/"
              {% if page.url == "/documentation/friends-of-trowel/modals/" %}class="active"{% endif %}
            >
              Modals
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <button class="backdrop" data-menu="backdrop"></button>
</sidebar>

