<div class="doc-subheader" id="doc-subheader">

  {% if page.type == "friendsoftrowel" and page.title != "Friends of Trowel" %}
    <div class="doc-subheader__logo-typo">
      {% include svg/typo.html width="74" height="13" %}
    </div>
  {% endif %}

  <h1 class="doc-subheader__title">{{ page.title }}</h1>

  <div class="doc-subheader__github-wrapper">
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/{{ page.library }}" data-icon="octicon-star" aria-label="Star {{ page.library }} on GitHub">Star</a>
  </div>
</div>