@import '../../components/header/utils/variables';
@import '../../components/doc-subheader/utils/variables';
@import '../../components/doc-sidebar/utils/variables';
@import '../../components/affix/utils/variables';
@import '../../utils/colors';

@import './utils/variables';

#doc-content {
  padding: $doccontent--padding;
  margin-top: $header--height;

  @include media-query('sm') {
    min-height: calc(100vh - #{$header--height + 4.25rem}) // magic number equals to footer height on sm+
  }

  #doc-subheader ~ & {
    margin-top: $header--height + $docsubheader--height;

    @include media-query('sm') {
      min-height: calc(100vh - #{$header--height + $docsubheader--height + 4.25rem}) // magic number equals to footer height on sm+
    }
  }

  @include media-query('sm') {
    margin-left: $docsidebar--width;
  }

  .affix ~ & {
    @include media-query('md') {
      margin-right: $affix--width;
    }
  }
}


#doc-content h1,
#doc-content h2,
#doc-content h3,
#doc-content h4,
#doc-content h5,
#doc-content h6 {
  padding-top: calc(#{$header--height + $doccontent--padding} + 2em);
  margin-top: -($header--height + $doccontent--padding);
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

#doc-content h1 .anchorjs-link,
#doc-content h2 .anchorjs-link,
#doc-content h3 .anchorjs-link,
#doc-content h4 .anchorjs-link,
#doc-content h5 .anchorjs-link,
#doc-content h6 .anchorjs-link {
  margin-left: -0.8em !important;
  padding-right: 0.3em !important;

  @include on-events {
    @include color('success');
    text-decoration: none;
  }

  &::before {
    content: none;
  }
}