@import '../utils/font-families';
@import '../utils/selectors';

body,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0 1em;
}

body {
  @include font-family('open-sans');
  line-height: 1.8;
}


a:not(.btn) {
  text-decoration: none;

  &,
  &:visited {
    color: inherit;
  }

  @include on-events {
    text-decoration: underline;
  }
}

* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}