@import '../utils/colors';

$fot--color: 'danger';

.fot-page .doc-subheader {
  @include background-color($fot--color);
}

.fot-page .affix a {
  border-color: color($fot--color);

  @include on-events {
    @include color($fot--color);
    text-decoration: none;
  }
}

.fot-page .callout--default {
  border-color: color($fot--color);
}

.fot-page .doc-sidebar__menu .active {
  @include color($fot--color);
}

.fot-page #doc-content a::before {
  @include background-color($fot--color);
}